<h1><%= @instrument.name %></h1>
<h1><%= @instrument.brand %></h1>
<h2>Artists who play <%@instrument.name%></h2>
<ol>
  <% @instrument.artists.each do |artist|%>
  <li>
    <a href="/artists/<%=artist.id%>">
      <%=artist.name%>
      </a>
    </li>
  <%end%>
</ol>
